<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" 
           scriptProcessor="D:\home\Python312\python.exe|D:\home\site\wwwroot\app.py" 
           resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    
    <!-- Configuración de timeout y límites -->
    <httpRuntime executionTimeout="900" maxRequestLength="51200" />
    
    <!-- Configuración FastCGI -->
    <fastCgi>
      <application fullPath="D:\home\Python312\python.exe" 
                   arguments="D:\home\site\wwwroot\app.py"
                   maxInstances="1"
                   idleTimeout="21600"
                   activityTimeout="900"
                   requestTimeout="900"
                   instanceMaxRequests="1000"
                   protocol="NamedPipe"
                   flushNamedPipe="False" />
    </fastCgi>
    
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
        <rule name="FlaskApp" stopProcessing="true">
          <action type="Rewrite" url="app.py" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Configuración de compresión -->
    <urlCompression doDynamicCompression="true" doStaticCompression="true" />
    
    <!-- Headers de seguridad y cache -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>
    
  </system.webServer>
  
  <system.web>
    <httpRuntime executionTimeout="900" maxRequestLength="51200" />
  </system.web>
</configuration>