<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</head>
<body>
    <h1>Buscador</h1>
    <form id="buscarForm" action="{{ url_for('main_controller.buscar') }}" method="post" >
        <label for="palabra_clave">Palabra clave:</label>
        <input type="text" name="palabra_clave" id="palabra_clave" required>
        <br>
        <input type="submit" value="Buscar">
    </form>
    
   

    {% if resultados %}
        <h2>Resultados para "{{ palabra_clave }}"</h2>
        <table>
            <thead>
        <tr>
            <th>Resultado</th>
            <th>Acciones</th>

        </tr>
    </thead>
            {% for resultado in resultados %}
            <tr>
                <td>
                    <a href="{{ url_for('main_controller.descargar', nombre_archivo=resultado) }}" target="_blank">{{ resultado }}</a>

                    <td>
                        <button onclick="visualizarPDF('{{ resultado }}')">Visualizar</button>

                    </td>

                </td>
            </tr>
            {% endfor %}
        
   
    </table>
    {% else %}
        <p>No se encontraron resultados para "{{ palabra_clave }}".</p>
    {% endif %}

    <script>
        function visualizarPDF(nombreArchivo) {
            window.open("{{ url_for('main_controller.visualizar_pdf', nombre_archivo='') }}" + nombreArchivo, '_blank');
        }

    </script>


</body>
</html>
