<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Aplicación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="logo-div">
        <img src="../static/css/LOGO.png" alt="LOGO" class="logo-img">
    </div>
    <h1 class="title-index">Mika'Tech Almacenador de CVS</h1>
    
    <div class="container-bottons">
        <a class="subir_cv" href="{{ url_for('main_controller.subir_cv') }}">Subir CV</a>
        <a class="view-all" href="{{ url_for('main_controller.ver_todos_los_archivos') }}">Ver todos los CVs</a>
    
        <a class="buscar" href="{{ url_for('main_controller.buscar') }}">Buscar</a>
    </div>
   
   
</body>
</html>
