<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Aplicación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>PDFAnalyzerSearcher</h1>
    
    <a class="boton boton-subir" href="{{ url_for('main_controller.subir_cv') }}">Subir CV</a>
    <a class="boton boton-buscar" href="{{ url_for('main_controller.mostrar_buscador') }}">Buscar CV</a>

</body>
</html>
